* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col-accent: #5ec4ff;
  --font-size-XXL: min(
    max(3rem, calc(3rem + ((1vw - 0.1875rem) * 12.6531))),
    10rem
  );
  --font-size-XL: min(
    max(1.5rem, calc(1.5rem + ((1vw - 0.1875rem) * 6.1224))),
    6rem
  );
  --font-size-L: min(
    max(1.5rem, calc(1.5rem + ((1vw - 0.1875rem) * 1.2245))),
    3rem
  );
  --font-size-M: min(
    max(1.25rem, calc(1.25rem + ((1vw - 0.1875rem) * 0.8163))),
    2.5rem
  );
  --font-size-SM: min(
    max(1rem, calc(1rem + ((1vw - 0.1875rem) * 1.6327))),
    2rem
  );
  --font-size-S: min(
    max(1rem, calc(1rem + ((1vw - 0.1875rem) * 1.2245))),
    1.75rem
  );
}

html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}
section {
  position: relative;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #fff;
  z-index: 9;
}

.clouds-moving-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cloud-moving {
  position: absolute;
  top: 100%;
  z-index: -1;
}

.section--1 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.one-text-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.one-text-container h1 {
  font-size: var(--font-size-XXL);
  font-weight: 800;
  line-height: 1.2;

  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.one-text-container p {
  font-size: var(--font-size-M);
}

.cloud {
  position: absolute;

  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}
.cloud--1 {
  width: 40vmin;
  left: 0;
  bottom: 0%;
}
.cloud--2 {
  width: 30vmin;
  bottom: 0%;
  right: 2%;
}
.cloud--3 {
  width: 20vmin;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.cloud--4 {
  width: 23vmin;
  bottom: 0%;
  left: 20%;
}

.plane {
  position: absolute;
  top: 45%;
  left: 0;
  display: block;
  width: 60px;

  user-select: none;
  z-index: 1;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.steps-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
}
.step {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  line-height: 1;
}
.step:nth-of-type(odd) {
  padding-left: 40px;
}
.step:nth-of-type(even) {
  padding-right: 40px;
  text-align: right;
}

.step__number {
  color: var(--col-accent);
  font-size: var(--font-size-XXL);
  font-weight: 600;
}
.step__text {
  font-size: var(--font-size-M);
}

.step.step--final {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
  text-align: center;
}
.step__text--final {
  padding: 80px 0;
  text-transform: uppercase;
  font-size: var(--font-size-XXL);
  font-weight: 600;
}
.cta {
  display: block;
  padding: 0.5em 1em;
  width: fit-content;

  font-size: var(--font-size-M);
  font-weight: 600;
  text-decoration: none;

  color: #fff;
  border: 3px solid #fff;
  background: transparent;
  border-radius: 3px;

  transition: color 0.25s ease-in-out, border 0.25s ease-in-out,
    background 0.25s ease-in-out;
}
.cta:hover {
  color: rgb(140, 198, 231);
  background: #fff;
  border: 3px solid transparent;
}
.final-bg {
  position: absolute;
  left: 0;
  transform: skewY(15deg);

  height: 80vh;
  width: 150%;

  z-index: -1;
  background: var(--col-accent);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.line-container {
  position: relative;
}
.line-container svg {
  position: absolute;
  display: inline-block;
  height: 86%;
  width: 100%;
  margin: auto;

  stroke: #fff;
  stroke-width: 1;
}
.line-container path {
  transition: all 0.8s 0s ease-out;
}

/* --------------- MEDIA QUERIES ---------------- */

@media (max-width: 600px) {
  .plane {
    width: 35px;
  }

  .step__number {
    font-size: 5rem;
  }

  .line-container svg {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .plane {
    width: 50px;
  }
}
